<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>IniciarSesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="InicioSesion">
    <h1>Iniciar sesion</h1>
    <form>
      <label for ="Correo-electrónico">Correo ectrónico</label>
      <input type="text" placeholder="Ingresar correo electronico">

      <label for ="Contrasena">Contraseña</label>
      <input type="password" placeholder="Ingresar contraseña">

      <input type="submit" value = "Iniciar Sesion">
    </form>
  </div>
</ion-content>
